/*
Project Name:
Client: Leon Noel
Author: John Fleurimond
Developer from Resilient Coders. Can't Stop. Won't stop
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

html {
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}